.container-form {
    display: flex;
    height: 80vh;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1618);
    border-radius: 20px;
    overflow: hidden;

}

.login-form {
    min-width: 350px;
    margin: auto;

}

.login-form .login-input {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
}

.login-form .login-button {
    background-color: #ff6a00;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
}

.login-form .login-button:hover {
    background-color: #fb8600;
}

.login-form .link {
    color: #0d6efd;
    text-decoration: none;
}

.login-form .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 5px;
    font-size: 16px;
}


/* Puedes añadir más estilos personalizados aquí para que coincida con el diseño proporcionado */