.back-button-container {
    display: block;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
}

.back-button-container:hover {
    text-decoration: none;
    /* Añade cualquier otro estilo para el estado hover si es necesario */
}

.back-button-container span {
    margin-left: 8px;
    /* Ajusta el espaciado según sea necesario */
}

.btn-atras {
    max-width: 150px;
    /* O el ancho máximo que prefieras */
    display: inline-block;
    /* Esto hará que el botón solo ocupe el ancho de su contenido */
}


@media screen and (max-width: 1440px) {
    .login-register-logo {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .container-form {
        width: 100%;
        height: 100%;
        padding: 0 !important;
        margin: 0;
    }
}